### Folder ###
/Week_2/Assignment_1/incremental_db
/Week_2/Assignment_1/db
/Week_2/Assignment_1/output_files
/Week_2/Assignment_1/simulation
/Week_2/Assignment_2/incremental_db
/Week_2/Assignment_2/db
/Week_2/Assignment_2/output_files
/Week_2/Assignment_2/simulation
